<div class="col-12">
  <% @categories.each_with_index do |category, i| %>
    <div class="startpage-categories__list-items category_item_<%=i%>" >
      <%= category_link category %>
      <%= category_profiles_count category.id %>
    </div>
  <% end %>
</div>
